*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#2b2b2b;
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    gap: 10px;   
    margin-bottom: 15px;
    justify-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

.main-text  {
    position: absolute;
    display: flex;
    color: white;
    font-size: 30px;
    top: 15%;
}

.text {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 18px;
    margin: 20px;
    padding: 10px;
}

.footer li a{
    margin: 30px;
    padding: 40px;
    font-size: small;
    justify-items: left;
    display: flex;
    color: white;
}

.footer {
    position: relative;
    background-color: #2b2b2b;
    max-width: 100%;
    height: 58vh;
    top: 10rem;
}
