*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#2b2b2b;
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 10px; 
    margin-bottom: 15px;
    justify-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

.menu-icon i{
    display: none;
    color: #fff;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 30px;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: #6d6d6da1;
    }

    .menu-icon i{
        display: flex;
    } 

    #menuList {
        transition: all 0.5s;
    }
}

.main-text  {
    position: absolute;
    display: flex;
    color: white;
    font-size: 30px;
    top: 15%;
}
.image-container {
    display: flex;
    position: relative;
    justify-content: center;
}
.image-container img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.text {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 18px;
    margin: 20px;
    padding: 10px;
}

.carousel-item {
  display: flex;
  align-items: center;
  margin-bottom: 5rem; 
}

.carousel-item img {
  float: left;
  margin-left: 30px;
  width: 40%;
  height: 400px;
  object-fit: cover;
}

.carousel-text {
  width: 50%;
  padding-left: 20px;
}

.carousel-text h2 {
  margin-bottom: 20px;
}

/* .carouse-text .img-container {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap; 
} */


.footer li a{
    margin: 30px;
    padding: 40px;
    font-size: small;
    justify-items: left;
    display: flex;
    color: white;
}

.footer {
    position: relative;
    background-color: #2b2b2b;
    max-width: 100%;
    height: 58vh;
    top: 10rem;
}
