*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#2b2b2b;
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 10px; 
    margin-bottom: 15px;
    justify-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

.menu-icon i{
    display: none;
    color: #fff;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 30px;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: #6d6d6da1;
    }
    .menu-icon i{
        display: block;
    } 

    #menuList {
        transition: all 0.5s;
    }

    body {
        width: 550px;
    }
}

section {
   width: 100%;
   display: flex;
   position: relative;
   justify-content: center;
}

.hero-section .section-map {
   display: flex;
   position: relative;
}

.search-container {
  display: block;
  position: relative;  
  justify-content: left;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;
  margin-left: 20px;
  width: 44vw;
  height: 48vh;
  margin-top: 5%;
}

.items-container
.location-name
.destination-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(252, 252, 252);
    background: #fff;
    border-radius: 10px;
    font-family: sans-serif;
}

.items-container input {
    display: block;
    margin: 10px;
    border: 1px solid gray;
    justify-self: right;
    height: 5vh;
    border-radius: 5px;
    width: 35vw;
    padding: 20px;
    position: relative;
    top: 41px;
}

.go-skate {
    display: flex;
    position: absolute;
    justify-self: right;
    margin-top: 4rem;
    border-radius: 5px;
    padding: 2%;
    cursor: pointer;
    background-color: black;
    color: #fff;
}

.button-option-1  {
    position: relative;
    justify-self: right;
    display: block;
    padding: 10%;
    width: 50%;
    height: 2vh;
    bottom: 40vh;
}
.button-option-1 .bus {
    display: flex;
    width: 330px;
    height: 50px; 
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 3%;
    background: #2b2b2b;
    border-color: 1px solid gray;
    color: white;
    cursor: pointer;    
}
 
.button-option-2  {
    position: absolute;
    justify-self: right;
    display: block;
    padding: 10%;
    width: 50%;
    height: 2vh;
    top: 100vh;
}

.button-option-2 .food {
    display: flex;
    width: 330px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 3%;
    background: #2b2b2b;
    border-color: 1px solid gray;
    color: white; 
    cursor: pointer;
}

.footer {
    position: relative;
    background-color: #2b2b2b;
    max-width: 100%;
    height: 58vh;
    top: 10rem;
}
.footer li a{
    margin: 30px;
    padding: 40px;
    font-size: small;
    justify-items: left;
    display: flex;
    color: white;
}



