*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(24, 49, 51);
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-bottom: 5px;
    cursor: pointer;
}

nav ul {
    display: flex;
    gap: 10px; 
    margin-bottom: 15px;
    justify-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
    font-size: 15px;
}

#menuList {
    display: flex;
    position: relative;
    justify-items: right;
    margin-left: 50%;
    padding: 2%;
}

.menu-icon i{
    display: none;
    color: #fff;
}

.main-text  {
    position: absolute;
    display: flex;
    color: white;
    font-size: 30px;
    top: 15%;
}
.image-container {
    display: flex;
    position: relative;
    justify-content: center;
}
.image-container img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.text {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 18px;
    margin: 20px;
    padding: 10px;
}

.single-carousel {
  position: relative;
  max-width: 600px;
  justify-self: center;
}

.carousel-track {
  position: relative;
}

.carousel-image {
  width: 100%;
  display: none;
}

.carousel-image.active {
  display: block;
}

.carousel-text {
  padding: 25px 0;
  margin-bottom: 35px;
}

h2 {
    padding: 0 0 20px;
    color: rgb(3, 3, 3);
}

.carousel-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: 1px solid rgb(179, 179, 179);
  padding: 1rem;
  cursor: pointer;
  border-radius: 20%;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-btn:hover {
    background: #01b3e9; 
    transition: 0.2s;
}

.button-map {
       display: flex;
       position: absolute;
       justify-content: center;
       width: 100px;
       background-color: rgb(24, 49, 51);
       border-radius: 5px;
       color: #fff;
       text-decoration: none;
       margin: 0 80%;
       padding: 5px;
       top: 95%;
    }
    .button-map:hover{
       background-color: rgb(0, 122, 122);
    }

.footer li a{
    margin: 30px;
    padding: 40px;
    font-size: small;
    justify-items: left;
    display: flex;
    color: white;
}

.footer {
    position: relative;
    background-color:rgb(24, 49, 51);
    max-width: 100%;
    height: 58vh;
    top: 10rem;
}

/*mobile device */

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 30px;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: #6d6d6da1;
    }

    .menu-icon i{
        display: flex;
    } 

    #menuList {
        transition: all 0.5s;
    }

    .carousel-text {
        margin: 10px;
        padding: 0 auto;
        display: block;
        margin-bottom: 10vh;
    }

    .button-map {
       display: flex;
       position: absolute;
       justify-content: center;
       width: 100px;
       background-color: rgb(24, 49, 51);
       border-radius: 5px;
       color: #fff;
       text-decoration: none;
       margin: 0 70%;
       padding: 5px;
       top: 97%;
    }
}
