* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(24, 49, 51);
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    gap: 10px;   
    top: 0;
    justify-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    padding: 0 20px;
    color: #fff;
    font-size: 15px;
}

.menu-icon {
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 30px;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: #6d6d6da1;
    }
    .menu-icon {
        display: block;
    } 

    #menuList {
        transition: all 0.5s;
    }

    body {
        width: 550px;
    }

    .container-button {
        margin-left: 30%;
        margin-top: 30%;
    }

    .list-skate,
    .event {
        max-width: 325px;
    }

/* Responsive to movile */
    .information .title {
        font-size: 1.1rem;
    }

    .information span {
        font-size: 0.9rem;
    }

    .arrow button {
        font-size: 1.5rem;
        padding: 6px;
    }

    .slider .item {
        margin: 41px;
    }

    .slider button {
        display: block;
        justify-self: center;
        margin-bottom: 20px;        
        height: 42px;
        width: 200px;
    }
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}


.hero-image {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: #7a7a7a;
}

.hero-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner-text {
    position: relative;
    justify-content: center;
    display: block;
    bottom: 85%;
}
h2 {
   position: absolute;
   justify-self: center;
   display: block;
   font-size: 50px;
   color: #ffffff;
}

p {
    position: absolute;
    justify-self: center;
    display: block;
    font-size: 20px;
    color: #fff;
    top: 9vh;
}

.container-button
.search-container {
  display: flex;
  position: relative;
  padding: 30px;
  top: 0;
}

/* style for the input within search, if it's necessary*/
#searchInput .text{
  width: 80%;
  font-size: 20px;
}

input {
    backdrop-filter: blur(5px);
    background: #d8d8d8;
    border: 1px solid gray;
    height: 6vh;
    border-radius: 5px;
    width: 30vw;
    margin: 10px;
    padding: 10px;
}

.list-skate,
.event {
   display: flex;
   position: relative;
   justify-content: space-around;
   padding: 10px;
   border: 1px solid rgb(151, 151, 151);
   background: #6d6d6da1; 
   backdrop-filter: blur(6px);
   border-radius: 10px;
   margin: 45px;
   width: 450px;
   bottom: 27rem;
   height: 8vh;
   font-family: sans-serif;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
 }

/* style for buttons within .list-skate and .event, if it's necessary */
.btn {
    text-align: left;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    padding-inline: 2rem;
    width: 400px;
    color: white;
}

.text-1 {
    display: flex;
    text-align: center;
    padding: 3%;
    margin: 15px;
    font-size: 19px;
    font-family: sans-serif;
}

span {
    display: flex;
    text-align: center;
    padding: 15px;
    margin: 4%;
    font-size: 20px;
    font-family: sans-serif;
}

/* general carousel Container */
.slider-container {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
    top: 2vh;
}

/* internal carousel */
.slider {
    display: flex;
    transition: transform 0.4s ease;
}

/* each slide */
.slider .item {
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 10px;
    z-index: 999;
    background-color: #000000;
}

/*responsive image */
.slider .item .image img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

/* Information */
.information {
    max-width: max-content;
    margin-bottom: 40px;
    justify-content: center;
}

.information .title {
    margin-block: 3%;
    font-size: 1.4rem;
    color: #fff;
}

.information span {
    font-size: 1rem;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: center;
    color: #fff;
}

.select {
    position: absolute;
    display: content;
    background-color: #252525;
    color:rgb(255, 255, 255);
    cursor: pointer;
    justify-content: space-between;
    margin: 0 80px;
    width: 15vw;
    padding: 10px;
    bottom: 30px;
    border-radius: 1rem;
}

.select:hover {
    background-color: #ffffff;
    transition: 0.2s;
    color: rgb(0, 0, 0);
}

.arrow button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    font-size: 2rem;
    padding: 1%;
    cursor: pointer;
    border-radius: 20%;
    transition: 0.2s;
    border: 1px solid gray;
    z-index: 999;
}

.arrow button:hover {
    background:#050505be;
    color: white;
}

#left {
    left: 10px;
}

#right {
    right: 10px;
}

.footer {
    position: relative;
    background-color: #2b2b2b;
    max-width: 100%;
    height: 58vh;
    top: 10rem;
}
.footer li a{
    margin: 30px;
    padding: 40px;
    font-size: small;
    justify-items: left;
    display: flex;
    color: white;
}