* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#2b2b2b;
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-top: 20px;
}

nav ul {
    display: flex;
    gap: 20px;   
    justify-items: center;
}

nav ul li {
    list-style-type: none;
 
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 30px;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: #6b6b6ba1;
    }
    .menu-icon {
        display: block;
    } 

    #menuList {
        transition: all 0.5s;
    }

    body {
        width: 550px;
    }
}


.hero-image {
    display: flex;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.banner-text {
    display: column;
    position: absolute;     
    font-size: 20px;
    align-content: center;
    top: 1rem; 
    color: #fff;
}
h1 {
    margin-bottom: 25px;
}

.container-button {
    display: grid;
    position: absolute;
    padding: 30px;
    top: 35%;
}

.search-container,
.list-skate,
.event {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
  border: 1px solid rgb(151, 151, 151);
  margin: 15px;
  width: 450px;
  height: 5vh;
  background: #8b8b8ba1;
  font-family: sans-serif;
  backdrop-filter: blur(5px);
  border-radius: 10px
}

/* style for the input within search, if it's necessary*/
#search-input {
    width: 80%;
    font-size: 16px;
}

/* style for buttons within .list-skate and .event, if it's necessary */
.btn {
    flex-grow: 1;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    padding-inline: 2rem;
    font-size: 16px;
}

input {
    backdrop-filter: blur(5px);
    background: #b3b3b3;
    border: 1px solid gray;
    height: 4vh;
    width: 30vw;
    margin: 10px;
    padding: 10px;
}

span {
    display: flex;
    text-align: center;
    padding: 1%;
    margin: 5%;
    font-size: 16px;
    font-family: sans-serif;
}

.carousel-slide {
    width: 94%;
    overflow: hidden;
    display: flex;
    padding: 40px;
    position: relative;
    top: 2rem;
}

.carousel-slide .carousel-item {
    width: 400px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 40px;
}

.carousel-slide .carousel-item img {
    width: 400px;
    height: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-slide .carousel-item .information button {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
}


.carousel-slide .carousel-item .information .select {
    margin: 20px 0;
    width: 80%;
    background: rgb(255, 150, 59, 100);
    outline: none;
    color: white;
    padding: 7px 10px;
    justify-self: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
}

.title {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-self: center;
}

#arrow {
    position: relative; 
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%); 
    padding: 0 auto; 
    z-index: 10; 
}

#arrow button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    margin-top: -40%;
    transition: background-color 0.3s ease;
}

#arrow button:hover {
    background-color: #ff963b; 
    color: white;
}

.footer {
    position: relative;
    background-color: #2b2b2b;
    max-width: 100%;
    top: 10rem;
}