* {
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.container-nav {
    display: flex;
    width: 100%;
    height: 35px;
    background-color: #2b2b2b; 
    justify-content: flex-end;
}

.nav-bar a {
    position: relative;
    flex-direction: row;
    margin: 0 30px;
    padding: 0 auto;
    text-decoration: none;
    color: white;
    top: 5px;
}

.hero-image {
    display: flex;
    object-fit: cover;
    width: 100%; 
    height: 560px;
    position: relative;;
}

.hero-image img {
    width: 100%;
    justify-content: center;
    object-fit: cover;
}

.banner-text {
    display: column;
    position: absolute;     
    font-size: 20px;
    justify-items: center;
    margin-left: 38%;
    top: 1rem; 
    color: #ffffff;
}
h1 {
    margin-bottom: 25px;
}

.container-button {
    display: grid;
    position: absolute;
    padding: 30px;
    top: 35%;
}

.search,
.list-skate,
.event {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
  border: 1px solid rgb(151, 151, 151);
  margin: 15px;
  width: 450px;
  height: 5vh;
  background: #8b8b8ba1;
  font-family: sans-serif;
  backdrop-filter: blur(5px);
  border-radius: 10px
}

/* style for the input within search, if it's necessary*/
.search-input {
    width: 80%;
}

/* style for buttons within .list-skate and .event, if it's necessary */
.btn {
    flex-grow: 1;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    padding-inline: 2rem;
    font-size: 16px;
}

input {
    backdrop-filter: blur(5px);
    background: #b3b3b3;
    border: 1px solid gray;
    height: 6vh;
    width: 30vw;
    margin: 10px;
    padding: 10px;
}

span {
    display: flex;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: sans-serif;
}

.carousel-slide {
    width: 94%;
    overflow: hidden;
    display: flex;
    padding: 40px;
    position: relative;
    top: 2rem;
}

.carousel-slide .carousel-item {
    width: 400px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 40px;
}

.carousel-slide .carousel-item img {
    width: 400px;
    height: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-slide .carousel-item .information button {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
}


.carousel-slide .carousel-item .information .select {
    margin: 20px 0;
    width: 80%;
    background: rgb(255, 150, 59, 100);
    outline: none;
    color: white;
    padding: 7px 10px;
    justify-self: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
}

.title {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-self: center;
}

#arrow {
    position: relative; 
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%); 
    padding: 0 auto; 
    z-index: 10; 
}

#arrow button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    margin-top: -40%;
    transition: background-color 0.3s ease;
}

#arrow button:hover {
    background-color: #ff963b; 
    color: white;
}


.footer {
    position: relative;
    justify-self: center;
    bottom: 0;
}