* {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.nav-bar {
    display: flex;
    position: relative;
    background-color: #2b2b2b;
}

.hero-image {
    position: relative;
    width: 100%;
}

.hero-image img {
    max-width: 100%;
    height: 650px;
}

.banner-text {
    grid: inherit;
    position: absolute;
    top: 0;
    color: #fff;
    padding: 60px;
    text-align: center;
}

.banner-text .h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.box-buttons {
    display: grid;
    position: absolute;
    text-align: left;
    padding: 30px;
    top: 40%;
}

span {
    display: flex;
    padding: 10px;
    margin-top: 10px;
}

.carousel-slide {
    width: 1300px;
    overflow: hidden;
    display: flex;
    padding: 30px 40px;
}

.carousel-slide .carousel-item {
    width: 400px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 40px;
}

.carousel-slide .carousel-item img {
    width: 400px;
    height: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-slide .carousel-item .information button {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
}

.carousel-slide .carousel-item .information .btn-select {
    margin: 20px 0;
    width: 100%;
    background: rgb(230, 10, 65);
    outline: none;
    color: white;
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-slide .arrow {
    width: 1300PX;
    position: absolute;
    justify-content: space-between;
    display: flex;
}

.footer {
    position: relative;
    justify-self: center;
    bottom: 0;
}