* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    width: 100%;
}

nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#2b2b2b;
    position: relative;
    height: 55px;
}

.logo {
    color: #fff;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    gap: 10px;   
    margin-bottom: 15px;
    justify-items: center;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    margin: 20px;
    color: #fff;
}

.menu-icon {
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        gap: 0;
        overflow: hidden;
    }
    nav ul li {
        padding: 30px;
        z-index: 999;
        backdrop-filter: blur(7px);
        background: #6d6d6da1;
    }
    .menu-icon {
        display: block;
    } 

    #menuList {
        transition: all 0.5s;
    }

    body {
        width: 550px;
    }

    .container-button {
        margin-left: 30%;
        margin-top: 30%;
    }

    .search-container,
    .list-skate,
    .event {
        max-width: 325px;
    }
}

.hero-image {
    display: flex;
    position: relative;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.banner-text {
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 3rem;
    color: #ffffff;
}

.container-button {
    display: block;
    position: absolute;
    margin-right: 60%;
    padding: 20px;
    top: 30%;
}

.search-container,
.list-skate,
.event {
   display: flex;
   justify-content: space-between;
   align-items: center; 
   padding: 10px;
   border: 1px solid rgb(151, 151, 151);
   margin: 45px;
   width: 450px;
   height: 8vh;
   background: #6d6d6da1;
   font-family: sans-serif;
   backdrop-filter: blur(6px);
   border-radius: 10px;
}

/* style for the input within search, if it's necessary*/
#search-input {
    width: 80%;
    font-size: 16px;
}

/* style for buttons within .list-skate and .event, if it's necessary */
.btn {
    text-align: left;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    padding-inline: 2rem;
    width: 400px;
    color: white;
}

input {
    backdrop-filter: blur(5px);
    background: #b3b3b3;
    border: 1px solid gray;
    height: 6vh;
    border-radius: 5px;
    width: 30vw;
    margin: 10px;
    padding: 10px;
}

span {
    display: flex;
    text-align: center;
    padding: 15px;
    font-weight: 300;
    margin: 5%;
    font-size: 18px;
    font-family: sans-serif;
}
h2 {
    padding: 0 auto;
    font-weight: 100;
    text-decoration: underline;
    margin-left: 40px;
    
}

.carousel-slide {
    width: 91%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    padding: 30px;
    margin-left: 55px;
    position: relative;
    top: 4rem;
}

.carousel-slide .carousel-item {
    width: 90%;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-right: 50px;
}

.carousel-slide .carousel-item img {
    width: 400px;
    height: 270px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.carousel-slide .carousel-item .information button {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    justify-content: space-between;
}


.carousel-slide .carousel-item .information .select {
    margin: 20px 0;
    width: 80%;
    background: rgb(255, 150, 59, 100);
    outline: none;
    color: white;
    padding: 7px 10px;
    justify-self: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
}

.title {
    margin: 25px;
    padding: 10px;
    display: flex;
    justify-self: center;
}

#arrow {
    position: relative; 
    left: 40px;
    width: 90%; 
    display: flex;
    justify-content: space-between;
    align-self: center;
    transform: translateY(-50%); 
    padding: 0 30px; 
    z-index: 10; 
}

#arrow button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    cursor: pointer;
    margin-top: -20%;
    transition: background-color 0.3s ease;
}

#arrow button:hover {
    background-color: #ff963b; 
    color: white;
}

.footer {
    position: relative;
    background-color: #2b2b2b;
    max-width: 100%;
    height: 58vh;
    top: 10rem;
}
.footer li a{
    margin: 30px;
    padding: 40px;
    font-size: small;
    justify-items: left;
    display: flex;
    color: white;
}